.aboutContainer {
    display: flex;
    justify-content: space-around;
}

.photo {
    height: 80vh;
    width: 50%;
    border-radius: 1%;
    /*padding-left: 20px;*/
}

.aboutMe {
    /*display: flex;*/
    /*flex-direction: column;*/
    position: relative;
    top: 0;
    right: 0;
    margin-left: 20px;
}

.aboutName {
    position: relative;
    top: 0;
    left: 0;

}

.about {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    font-size: 120px;

    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

.name {
    font-weight: 900;
    color: black;
    font-size: 45px;
    position: absolute;
    top: 60px;
    left: 25px;

}

.profession {
    /*position: absolute;*/
    /*top: 130px;*/
    /*right: 280px;*/
    font-weight: 600;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    line-height: 2.1;
    letter-spacing: 0.8px;
    font-weight: 400;
}

button {
    background-color: black;
    color: white;
    border-radius: 35px/50%;
    line-height: 57px;
    letter-spacing: .8px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
}