.skillsTitle {
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    font-size: 150px;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-bottom: 10px;
}

@keyframes rotation {
    0% {
        transform:scaleX(-1);
    }
    100% {
        transform:scaleX(1);
    }
}

.skills {
    display: flex;
    letter-spacing: 0.8px;
    justify-content: space-around;
}

.htmlContainer, .cssContainer, .jsContainer, .reactContainer, .reduxContainer {
    position: relative;
    text-align: center;
}

.htmlTitle, .cssTitle, .jsTitle, .reactTitle, .reduxTitle {
    font-size: 30px;
    font-weight: bolder;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0,
                 #cad5e2 5px 5px 0;
}

.htmlSkills, .cssSkills, .jsSkills, .reactSkills, .reduxSkills {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 18px;


}

.photoHtml, .photoCss, .photoJs, .photoReact, .photoRedux {
    width: 150px;
    height: 150px;
    opacity: 0.2;
    margin-top: 20px;
}

