

.skillsTitle {
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    font-size: 120px;
}

.skills {
    display: flex;
    letter-spacing: 0.8px;
    /*text-align: center;*/
    justify-content: space-around;
}

.htmlContainer, .cssContainer, .jsContainer, .reactContainer, .reduxContainer{
    position: relative;
    text-align: center;
}

.htmlTitle, .cssTitle, .jsTitle, .reactTitle, .reduxTitle {
    /*display: flex;*/
    /*justify-content: center;*/
    font-size: 18px;
    font-weight: bolder;



    /*position: relative;*/
}

.htmlSills, .cssSills, .jsSkills, .reactSkills, .reduxSkills {
    position: absolute;
    /*text-align: center;*/
    top: 0;
    left: 0;
    /*display: inline-block;*/
}

.photoHtml, .photoCss, .photoJs, .photoReact, .photoRedux {
    width: 136px;
    height: 136px;
    opacity: 0.2;

}

