.container {
    display: flex;

    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 1000px;*/
}

.main {
    /*height: 500px;*/
    /*width: 700px;*/
    position: absolute;
    /*left: 60px;*/
    /*top: 25px;*/
    left: 0;
    z-index: 1;

}
.title {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    font-size: 120px;
    margin-bottom: 0;
    margin-top: 0;
}

.surname {
    display: block;
    -webkit-text-fill-color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}

.profession {
    font-size: 15px;
    line-height: 2.1;
    letter-spacing: 8px;
    font-weight: 600;
    display: inline-block;
    margin-top: 0;

}


.photo {
    /*height: 500px;*/
    /*width: 440px;*/
    /*position: relative;*/
    /*right: -260px;*/
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}